.controlsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-top: 20px; 
}

.controlsContainerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controlsContainerItem img {
  width: 80px;
  height: auto;
  margin-top: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  grid-column: span 4;
}

h2 {
  margin-bottom: 5px;
}

.returnButton {
  margin-top: 20px;
}

#controlsContainerMiniRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.controlsContainerItemMovement {
  grid-column: 1; 
}

.controlsContainerItemReset {
  grid-column: 2; 
}

.controlsContainerItemUndo {
  grid-column: 3; 
}

.controlsContainerItemReturnButton {
  grid-column: 4; 
}
