header {
    text-align: left;
    color: red;
    padding: 2px 2px;
    position:absolute;
    width: 100%;
    top: 0;
    left: 2px;
    
}

#sign_in_button {
    color: red;
    position: relative;
    z-index: 1;
    font-weight: 900;
}
  
#sign_in_button:hover {
    cursor: pointer;
    border-width: 6px;
    transform: translateY(-30px);
}
  
  
@keyframes hover-lift {
    0% {
        transform: translateY(0);
        color: orange;
    }
    50% {
        transform: translateY(-10px);
        color: orangered;
    }
    100% {
        transform: translateY(-15px);
        color: red;
    }
}
  