#SignIn_Button {
    color: orange;
    background-color: black;
    border-color: orange;
    margin: 5px;
    text-align: center;
    font-size: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    display: inline-block;
    transition: transform 0.3s ease; 
    position: relative;
  }
  
#SignIn_Button:hover {
    animation: hover-lift 0.4s forwards; 
  }
  
@keyframes hover-lift {
    0% {
      transform: translateY(0);
      color: orange; 
    }
    50% {
      transform: translateY(-10px); 
      color: orangered;
    }
    100% {
      transform: translateY(-15px);
      color: red; 
    }
}
  